Source: libcariad-driver-nativefb
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-nativefb
Replaces: libdisplaycore-driver-nativefb
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: Virtual
Depends: libcariad-core
Recommends: 
Provides: NativeFB.h
Description: Native Framebuffer (Linux)
 Direct access to the Linux framebuffer device for Raspberry Pi etc.



